@media all and (min-width: 1000px) and (max-width: 1400px){

}
@media (min-width: 1200px){
.container {
  max-width: 1340px;
}
}

@media all and (min-width: 930px) and (max-width: 1200px){
  .app_bottom {
    transform: translate(-10px,65px);
  }
  .launching_soon h3 {
    margin-bottom: 0px;
    font-size: 22px;
  }
  .upper_section_inner_left p {
    font-size: 16px;
  }
  .upper_section_inner_left {
    margin-top: 130px;
  }
  .contact_section_right {
    width: 49%;
  }
}
@media all and (min-width: 930px) and (max-width: 1024px){
  .upper_section {
    height: 50vh;
  }
  .launching_soon h3 {
    font-size: 28px;
  }
  .launching_soon {
    padding: 17px 50px 17px 44px;
  }
  .bg_easy_to_use {
    height: 60vh;
  }
  .screenshot_section_upper {
    padding: 0px 140px;
  }
  .navbar-nav .nav-link {
    font-size: 12px;
 }
 .easy_to_use_section div {
  padding: 0px 15px;
 }
 .easy_to_use_zero_one {
  left: 56px;
}
 .polygon_img_join_group {
  right: -190px;
 }
 .upper_section_inner_right_img img{
   width: 390px;
 }
 .contact_section_right img{
   width: 100%;
 }
 .navbar-nav .nav-item {
  margin-right: 15px;
 }
 .navbar-brand img{
   width: 76px!important;
 }
 .contact_section_right img{
   width: 65%!important;
 }
 .contact_section_right {
  position: absolute;
  bottom: 59px;
  right: 0;
  text-align: right;
}
.contact_section_right {
    width: 70%;
}
.owl_wrapper .next {
  top: 395px;
}
.owl_wrapper .prev {
  top: 395px;
}
.client_section {
  padding: 0 65px 0 105px;
}
.owl-pagination {
  transform: translate(43%, 0);
}
.gallery-item.gallery-item-selected {
  height: 550px;
}
.gallery-item.gallery-item-previous {
  left: 26%;
}
.gallery-item.gallery-item-previous, .gallery-item.gallery-item-next {
  height: 430px;
  opacity: 1;
}
.gallery-item.gallery-item-next {
  left: 74%;
}
.gallery-item {
  height: 330px;
  opacity: 1;
}
.gallery-container {
  margin: 40px auto;
}
.gallery-container {
  height: 500px;
}
.gallery {
  margin-top: 0px;
}
.gallery-controls button:first-child,.gallery-controls button:nth-child(2) {
top: 41%;
}
.gallery-controls button:first-child img,.gallery-controls button:nth-child(2) img{
 width: 45px!important;
}
.gallery-controls button:first-child {
left: -160px;
}
.app_bottom {
    transform: translate(-10px,0px);
}

}

@media(max-width: 991px){
  header{
    position: fixed;
    width: 100%;
    z-index: 999888;
    background: #ff5c3a;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }
  .upper_section_inner{
        padding-top: 70px;
  }
  .upper_section_inner_left h3 {
    font-size: 22px;
  }
  .easy_to_use_slider .client_quotes {
    width: 30px!important;
}
  
  .upper_section_inner_left p {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .upper_section_inner_right_img{
    position: inherit; 
    text-align: center;
    top: 35px;
    left: 0px;
  }
  .upper_section_inner_right_img img{
    width: 70%;
  }
  .social_trade_features_desc .polygon_img img{
    width: 90px;
  }
  .social_trade_features_desc .polygon_img {
    right: 0;
    top: -130px;
    z-index: -1;
  }
  .social_trade_features_img img{
    width: 60%;
  }
  .polygon_img_join_group{
    right: 0;
    top: 230px;
  }
  .enquiry_section_form_submit a {
    font-size: 12px;
    width: 120px;
    padding: 14px 0px;
  }
  .contact_email a {
    font-size: 12px;
  }
  .contact_section_right{
    /* position: inherit; */
    padding: 20px;
  }
  .height_360{
    height: 360px;
  }
  .upper_section_inner_left {
    max-width: 100%;
  }
  .upper_section_bottom_left h3 {
    font-size: 16px;
  }
  .upper_section_bottom_right img{
    width: 100px;
  }
  .upper_section_bottom {
    padding: 60px 0px 10px;
  }
  .upper_section_bottom_left p {
    font-size: 16px;
  }
  .upper_section_bottom_right div:first-child{
    margin-bottom: 10px!important;
  }
  .social_trade_features h3, .easy_to_use h3 {
    font-size: 18px;
  }
  .social_trade_features_upper p {
    font-size: 14px;
  }
  .polygon_img_right img{
    width: 110px;
  }
  .polygon_img_right {
    position: absolute;
    top: 120px;
    left: -82px;
  }
  .order_2{
    order: 2;
  }
  .social_trade_features_desc p {
    font-size: 16px;
  }
  .polygon_right_side img{
    width: 30px;
  }
  .polygon_img_left_blue img{
    width: 90px;
  }
  .polygon_img_left_blue {
    left: -60px;
  }
  .polygon_right_side {
    top: -70px;
  }
  .polygon_img_blue_bottom img{
    width: 30px;
  }
  .polygon_img_light img{
    width: 90px;
  }
  .polygon_img_light {
    left: -75px;
  }
  .polygon_img_join_group img{
    width: 90px;
  }
  .social_trade_features_upper {
    padding-bottom: 0px;
  }
  .social_trade_features_img {
    margin-bottom: 30px;
  }
  .social_trade_features_desc{
    margin-bottom: 30px;
    padding: 0px;
  }
  .border_left::before,.border_bottom::before,.border_bottom_left::after{
    background-color: transparent;
  }
  .social_trade_features {
    margin-top: 90px;
    margin-bottom: 0px;
  }
  .easy_to_use{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding: 90px 0px;
  }
  .easy_to_use_inner img{
    width: 45px;
  }
  .easy_to_use_section div {
    margin-bottom: 20px;
    padding: 0px 40px;
    font-size: 14px;
  }
  .easy_to_use_section .easy_to_use_zero_one h3 {
    font-family: Poppins-Bold;
    font-size: 60px;
  }
  .easy_to_use_section {
    margin-top: 25px;
  }
  .easy_to_use_zero_one {
    position: absolute;
    top: 40px;
    left: 42%;
  }
  .screenshot_section_upper h3 {
    font-size: 22px;
  }
  .screenshot_section_upper {
    padding: 0px 30px;
    margin-bottom: 0rem!important;
    margin-top: 0rem!important;
  }
  .screenshot_section_upper p {
    font-size: 14px;
  }
  .screenshot_section img {
    /* max-height: 250px; */
  }
  .easy_to_use_bottom p {
    font-size: 14px;
  }
  .post-style h3{
    font-size: 18px;
  }
  .slider {
    margin: 20px auto;
  }
  .post-style p{
    font-size: 14px;
  }
  .easy_to_use_bottom{
    margin-bottom: 30px!important;
  }
  .download_section h3 {
    font-size: 22px;
  }
  .download_section p {
    font-size: 14px;
  }
  .download_section {
    padding: 50px 0px 50px;
  }
  .download_section img{
    width: 110px;
  }
  .contact_section_left_upper h3 {
    font-size: 22px;
  }
  .contact_section_left_upper p {
    font-size: 14px;
  }
  .contact_section p {
    font-size: 14px;
    padding-right: 0px;
  }
  .contact_section input {
    font-size: 14px;
    height: 45px;
  }
  .contact_email h6 {
    font-size: 12px;
  }
  .contact_email {
    margin-left: 15px;
    margin-right: 0rem!important;
  }
  .contact_section_right img {
    width: 100%;
  }
  .bottom_section p {
    font-size: 12px;
  }
  .bottom_section {
    padding: 15px 0px;
  }
  .navbar-brand img{
    width: 125px!important;
  }
  .app_bottom {
    transform: translate(0px,251px);
    position: absolute;
    bottom: -125%;
  }
  .app_bottom img{
    width: 100%;
  }
  .navbar-nav .nav-item {
    margin-right: 0px;
    text-align: center;
  }
  .icon-bars{
    color: #fff;
  }
  .navbar-toggler{
    transform: translate(0px, 10px);
  }
  header.sticky{
    padding-bottom: 0.5rem!important;
    padding-top: 0.5rem!important;
  }
  .polygon_customer {
    position: absolute;
    top: 0px;
    left: -83px;
  }
  .polygon_customer img{
    width: 175px;
  }
  .navbar-nav {
    margin-bottom: 20px;
  }
  .easy_to_use_edited_top_img img{
    width: 115px;
  }
  .easy_to_use_edited_right_img img{
    width: 75px;
  }
  .launching_soon {
    padding: 17px 50px 17px 5px;
    letter-spacing: 2px;
  }
  .social_trade_features_desc img{
    width: 100%;
  }
  .owl-next {
    right: 0;
  }
  .easy_to_section_dots_right {
    right: 0;
  }
  .border_left_bottom::after {
    background-color: transparent;
  }
  .screenshot_section img, .slick-slide img {
    /* max-width: 100%;
    width: 100%!important;
    max-height: 480px; */
  }
  .launching_soon h3 {
    font-size: 16px;
  }
  .mind_pillow_right_img {
    left: -197px;
  }
  .client_section {
    padding: 0 0px;
  }
  .easy_to_use_section_high {
    transform: translate(0px,0px);
  }
  .slick-track {
    left: 0%;
  }
  .client_image {
    width: 90px!important;
  }
  .bg_image_client {
    width: 100%;
  }
  .client_name_desc p{
    font-size: 14px;
  }
  .owl-nav{
    display: none;
  }
  .client_quotes {
    width: 25px!important;
  }
  .left_quotes {
    top: -17px;
    left: -15px;
  }
  .quotes_right {
    right: 0;
    bottom: 12px;
  }
  .client_right_bottom_half img{
    width: 100px
  }
  .circle_bottom_client_right {
    top: 137px;
    right: 0;
  }
  .circle_bottom_client_right img{
    width: 70px;
  }
  .circle_right_client img{
    width: 100px;
  }
  .circle_right_client {
    left: -47px;
  }
  .contact_section_right {
    bottom: -51px;
  }
  .contact_section_left{
    margin-bottom: 290px;
  }
  .contact_section {
    padding: 40px 0px;
  }
  .contact_email h6 {
    font-size: 10px;
  }
  .contact_email a {
    font-size: 9px;
  }
  .bg_easy_to_use {
    height: 100vh;
  }
  .upper_section {
    height: 100vh;
  }
  .owl_wrapper .next,.next .no_select,.owl_wrapper .prev{
    width: 40px;
  }
  .owl_wrapper .prev {
    position: absolute;
    top: 353px;
    left: 15px;
  }
  .owl_wrapper .next {
    position: absolute;
    top: 353px;
    right: 15px;
  }
  .owl-theme .owl-controls .owl-page.active {
    margin-right: 10px;
  }
  .owl-theme .owl-controls .owl-page {
    width: 15px;
  }
  .owl-pagination {
    transform: translate(15%, 0);
  }
  .owl-theme .owl-controls .owl-page.active {
    width: 18px;
  }
  .owl_wrapper .active.middle_beside {
    margin: 0 0px;
  }
  .gallery-item.gallery-item-selected {
    height: 550px;
  }
  .gallery-item.gallery-item-previous {
    left: 30%;
  }
  .gallery-item.gallery-item-previous, .gallery-item.gallery-item-next {
    height: 430px;
    opacity: 0;
  }
  .gallery-item.gallery-item-next {
    left: 70%;
  }
  .gallery-item {
    height: 330px;
    opacity: 0;
  }
  .gallery-container {
    margin: 40px auto;
  }
  .gallery-container {
    height: 500px;
  }
  .gallery {
    margin-top: 0px;
 }
 .gallery-controls button:first-child,.gallery-controls button:nth-child(2) {
  top: initial;
 }
 .gallery-controls button:first-child img,.gallery-controls button:nth-child(2) img{
   width: 45px!important;
 }
 .gallery-controls button:first-child {
  left: -160px;
 }
 .easy_to_use_slider .client_image {
    width: 100px!important;
}
}

@media only screen and (min-width: 420px) and (max-width: 825px) {
  .social_trade_features_desc p {
    font-size: 12px;
  }
  .social_trade_features h3, .easy_to_use h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .upper_section {
    height: 40vh;
  }
  .order_2{
    order: initial;
  }
  .upper_section_inner_left {
    margin-top: 110px;
  }
  .easy_to_use {
    margin-top: 0px!important;
    padding: 88px 0px;
  }
  .bg_easy_to_use {
    height: 40vh;
  }
  .easy_to_use_zero_one {
    left: 69px;
  }
  .contact_section_right img{
    width: 310px!important;
  }
  .contact_section_right {
    bottom: -28px;
    right: 110px;
  }
  .screenshot_section img, .slick-slide img {
    /* max-width: 100%;
    width: 100%!important;
    max-height: 233px!important; */
  }
  .launching_soon {
    top: 85px;
  }
  .easy_to_use_section div {
    margin-bottom: 20px;
    padding: 0px 0px;
    font-size: 11px;
  }
  .owl_wrapper .next {
    top: 210px;
  }
  .owl_wrapper .prev {
    top: 210px;
  }
  .owl-pagination {
    transform: translate(43%, 0);
  }
  .gallery-item.gallery-item-selected {
    height: 550px;
  }
  .gallery-item.gallery-item-previous {
    left: 26%;
  }
  .gallery-item.gallery-item-previous, .gallery-item.gallery-item-next {
    height: 430px;
    opacity: 1;
  }
  .gallery-item.gallery-item-next {
    left: 74%;
  }
  .gallery-item {
    height: 330px;
    opacity: 1;
  }
  .gallery-container {
    margin: 40px auto;
  }
  .gallery-container {
    height: 500px;
  }
  .gallery {
    margin-top: 0px;
 }
 .gallery-controls button:first-child,.gallery-controls button:nth-child(2) {
  top: 41%;
 }
 .gallery-controls button:first-child img,.gallery-controls button:nth-child(2) img{
   width: 45px!important;
 }
 .gallery-controls button:first-child {
  left: -160px;
 }
 .app_bottom {
    transform: translate(0px,160px);
    position: absolute;
     bottom: 0%; 
}
.social_trade_features_desc img {
    width: 70%;
    text-align: center;
    margin: auto;
    display: block;
}
  
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
  .upper_section_inner_left {
    margin-top: 54px;
  }
  .upper_section_inner_left p {
    font-size: 12px;
  }
  .upper_section_inner_right_img img {
    width: 65%;
  }
  .upper_section {
    height: 115vh;
  }
  .launching_soon {
    top: 84px;
  }
  .bg_easy_to_use {
    height: 130vh;
  }

}

@media only screen and (min-width: 360px) and (max-width: 550px) {
  .upper_section {
    height: 150vh;
  }
}
@media only screen and (min-width: 360px) and (max-width: 420px){
.upper_section {
    height: 145vh;
}
}
@media only screen and (min-width: 560px) and (max-width: 825px){
  .upper_section {
      height: 55vh;
  }
}